@font-face {
	font-family: "Red Hat Display";
	src: url("./../../assets/Red_Hat_Display/RedHatDisplay-Regular.ttf")
		format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Red Hat Display";
	src: url("./../../assets/Red_Hat_Display/RedHatDisplay-Bold.ttf")
		format("truetype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Red Hat Display";
	src: url("./../../assets/Red_Hat_Display/RedHatDisplay-Medium.ttf")
		format("truetype");
	font-style: normal;
	font-weight: 900;
}
