$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;
$tablet-breakpoint-second: 926px;

$header-mobile: 1.5rem;
$sub-header-mobile: 0.875rem;
$text-mobile: 0.8125rem;
$labels-mobile: 0.75rem;

$header-tablet: 3.75rem;
$second-header-tablet: 2.25rem;
$third-header-tablet: 1.5rem;
$sub-header-tablet: 1rem;
$text-tablet: 0.875rem;
$labels-tablet: 0.75rem;

$color-black: #28283d;
$color-white: #fafafa;
$color-grey: #87879d;
$color-blue: #8fe3f9;
$color-darkpink: #855fb1;
$color-lightpink: #d9b8ff;
$color-teal: #4d96a9;
