@use './partials/typography' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Red Hat Display", "sans-serif";
}

.hero {
	padding-top: 1rem;
	padding-bottom: 1rem;
	&__logo {
		text-align: center;
		margin-bottom: 2rem;
		@include tablet {
			margin-bottom: 3rem;
		}
	}
	&__image {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 110%;
		@include tablet {
			background-image: url("./../assets/tablet/image-hero.png");
			background-position: center;
			background-size: cover;
			height: 325px;
			position: relative;
			left: -4%;
		}
	}
	&__imageleft {
		width: 100%;
		height: 140px;
		position: relative;
		left: -20px;
		@include tablet {
			visibility: hidden;
		}
	}
	&__imageright {
		width: 100%;
		height: 140px;
		position: relative;
		right: 20px;
		@include tablet {
			visibility: hidden;
		}
	}
	&__description {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 3rem;
		padding-right: 3rem;
	}
	&__heading {
		text-align: center;
		color: $color-black;
		h1 {
			font-size: 30px;
			font-weight: bold;
			padding-left: 3rem;
			padding-right: 3rem;
			@include tablet {
				font-size: 40px;
				padding-left: 13rem;
				padding-right: 13rem;
				margin-bottom: 0;
				margin-top: 3rem;
			}
		}
	}
	&__content p {
		text-align: center;
		color: $color-grey;
		font-size: 14px;
		margin-bottom: 2rem;
		@include tablet {
			padding-left: 10rem;
			padding-right: 10rem;
		}
	}
	&__buttons {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include tablet {
			flex-direction: row;
		}
	}
	&__download {
		color: $color-white;
		background-color: $color-teal;
		padding: 0.8rem 1.6rem;
		border-radius: 20px;
		border: none;
		font-weight: 900;
		@include tablet {
			margin-right: 0.4rem;
		}
		span {
			color: $color-grey;
		}
	}
	&__what {
		color: $color-white;
		font-weight: 900;
		background-color: $color-darkpink;
		border: none;
		margin-top: 0.8rem;
		padding: 0.8rem 1.6rem;
		border-radius: 20px;
		margin-bottom: 2rem;
		@include tablet {
			margin: 0;
			margin-left: 0.4rem;
		}
	}
}
.first {
	margin: 0 auto;
	height: 100px;
	@include tablet {
		margin: 3rem auto;
	}
	&__line {
		border-left: 1px solid $color-grey;
		height: 60px;
		position: relative;
		left: 50%;
	}
	&__number {
		border-radius: 50%;
		width: 35px;
		height: 35px;
		border: 1px solid $color-grey;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		color: $color-grey;
		font-weight: 700;
		font-size: 14px;
	}
}
.gallery {
	padding-left: 1rem;
	@include tablet {
		padding-left: 3rem;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin-top: 2.5rem;
	}
	&__item {
		width: 136px;
		height: 125px;
		margin-bottom: 1rem;
		margin-right: 1rem;
		box-sizing: border-box;
		border-radius: 7px;
		@include tablet {
			margin-bottom: 0;
			width: 160px;
			height: 140px;
			margin-right: 0.7rem;
		}
	}
	&__item:nth-child(4) {
		margin-right: 0;
	}
}

.features {
	padding-right: 1rem;
	padding-left: 1rem;
	@include tablet {
		padding-right: 3rem;
		padding-left: 3rem;
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		margin-top: 2rem;
		text-transform: uppercase;
		color: $color-teal;
		font-weight: bold;
		font-size: 12px;
		letter-spacing: 4px;
		@include tablet {
			font-size: 1rem;
		}
	}
	&__heading {
		text-align: center;
		padding-left: 34px;
		padding-right: 34px;
		font-size: 22px;
		@include tablet {
			font-size: 1.7rem;
			padding-left: 12rem;
			padding-right: 12rem;
		}
	}
	&__description {
		color: $color-grey;
		font-size: 14px;
		padding-left: 5px;
		padding-right: 5px;
		text-align: center;
		margin-bottom: 2rem;
		@include tablet {
			padding-left: 5.5rem;
			padding-right: 5.5rem;
		}
	}
}

.second {
	margin: 0 auto;
	height: 100px;
	&__line {
		border-left: 1px solid $color-grey;
		height: 60px;
		position: relative;
		left: 50%;
		transform: translateY(32%);
	}
	&__number {
		border-radius: 50%;
		width: 35px;
		height: 35px;
		border: 1px solid $color-grey;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		color: $color-grey;
		font-weight: 700;
		font-size: 14px;
		transform: translateY(50%);
		background-color: $color-white;
		position: relative;
		z-index: 999;
	}
}

.footer {
	&__overlay {
		background-image: url("./../assets/mobile/image-footer.jpg");
		background-position: center;
		background-size: cover;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $color-white;
		width: 100%;
		height: 100vw;
		@include tablet {
			height: 45vw;
			background-image: url("./../assets/tablet/image-footer.jpg");
		}
	}

	&__overlay {
		position: relative;
	}

	&__overlay::after {
		content: "";
		display: block;
		background-color: $color-teal;
		opacity: 0.85;
		width: 100%;
		height: 100vw;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		@include tablet {
			height: 45vw;
		}
	}

	&__overlay > * {
		z-index: 5;
		position: relative;
	}
	&__heading {
		text-align: center;
		font-size: 22px;
		margin-left: 2.5rem;
		margin-right: 2.5rem;
		margin-top: 4rem;
		@include tablet {
			font-size: 1.8rem;
			padding-left: 13rem;
			padding-right: 13rem;
		}
	}
	&__description {
		text-align: center;
		padding-left: 2.5rem;
		padding-right: 2.5rem;
		font-size: 14px;
		margin-bottom: 2rem;
		@include tablet {
			padding-left: 10rem;
			padding-right: 10rem;
		}
	}

	&__button {
		background-color: $color-darkpink;
		color: $color-white;
		border: none;
		border-radius: 20px;
		font-weight: 700;
		padding: 0.8rem 1.6rem;
		span {
			color: $color-grey;
		}
	}
}
